* {
    margin: 0;
    padding: 0;
  }
  #word {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 40px;
    letter-spacing: 10px;
    text-align: center;
  }
  body {
    background-image: linear-gradient(to right,blue, grey);
  }
  .keyboard {
    width: 700px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
  }
  .w {
    width: 60px;
    height: 40px;
    border: 1px solid black;
    border-radius: 7px;
    margin-top: 20px;
  }
  #usertype {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 20px;
    letter-spacing: 10px;
    text-align: center;
  }
  #alert {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: greenyellow;
  }
  .correct {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: greenyellow;
  }
  .wrong {
    font-size: 20px;
    padding-left: 900px;
    color: red;
  }
  